table {
    width: 400px;
    border: 1px solid #000;
    border-collapse: collapse;
    margin: 0 auto;
}

td,
th {
    border: 1px solid #000;
    text-align: center;
}

input {
    width: 50px;
}

.search {
    width: 600px;
    margin: 20px auto;
}